/* BREAKPOINTS */
/* @media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 879px) {
    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about img {
        width: 70vw;
        margin-top: 4rem;
    }
}

@media (max-width: 580px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}

@media (max-width: 365px) {

    .home-img img,
    .about-img img {
        width: 90vw;
    }
} */


/*--------------[home] Media Queries (for different browser width)------------- */
@media (max-width: 768px) {
    .header {
        padding: 2rem 5%;
    }
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: red;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    /* .navbar.active {
        display: block;
    } */

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
        padding: 5rem 9% 2rem;
    }

    .home-content {
        width: 100%;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    
    .home-img {
        position: center;
        display: flex;
        align-items: center;
        margin-top: 10rem;
        margin-bottom: 2rem;
    }

    .home-img img {
        position: center;
        display: flex;
        align-items: center;
        width: 80%;
        max-width: 80%;
        margin-left: 5rem;
        animation: floatImage 4s ease-in-out infinite;
    }
  
    .home-content h1 {
        font-size: 4rem;
    }

    .home-content h2 {
        font-size: 2.5rem;
    }

    .text-animate {
        width: 100%;
    }

    .home-content p {
        font-size: 1.6rem;
    }

    .btn-box {
        position: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 80%;
        height: auto;
        margin: 0 5rem;
    }

    .social-media {
        margin-top: 1rem;
        position: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 60%;
        height: auto;
        margin: 0 10rem;
    }

    .education-content {
        flex-direction: column;
        padding: 0rem 0rem 2rem;
    }

    .education-content .content {
        order: 1;
        height: 100%;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    
    .education-content .content-img {
        order: 2;
        position: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        /* margin-top: 10rem; */
        margin-bottom: 2rem;
        width: 100%;
        max-width: 100%;
    }

    .education-content .content-img img {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
        border-radius: 8px; /* Optional: Add border radius to the image */
        margin-bottom: 2rem;
    }

    .education-content .content-img img:nth-child(3) {
        display: none;
    }

    .education-content .work-img {
        order: 2;
        position: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        /* margin-top: 10rem; */
        margin-bottom: 2rem;
        width: 100%;
        max-width: 100%;
    }

    .education-content .work-img img {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
        border-radius: 8px; /* Optional: Add border radius to the image */
        margin-right: 1rem;
        margin-bottom: 2rem;
    }
    .education-content .work-img img:nth-child(3) {
        display: none;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 480px) {
    .header {
        padding: 2rem 5%;
    }

    .navbar a {
        margin-left: 2rem;
        font-size: 1.5rem;
    }

    .home {
        flex-direction: column;
        padding: 5rem 9% 2rem;
    }

    .home-content {
        width: 100%;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    
    .home-img {
        position: center;
        display: flex;
        align-items: center;
        margin-top: 10rem;
        margin-bottom: 2rem;
    }

    .home-img img {
        position: center;
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 100%;
        margin: 0 0rem;
        animation: floatImage 4s ease-in-out infinite;
    }
  
    .home-content h1 {
        font-size: 3.5rem;
    }

    .home-content h2 {
        font-size: 2.5rem;
    }

    .text-animate {
        width: 100%;
    }

    .home-content p {
        font-size: 1.3rem;
    }

    .btn-box {
        position: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 100%;
        height: auto;
        margin: 0 0rem;
    }

    .social-media {
        margin-top: 1rem;
        position: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 80%;
        height: auto;
        margin: 0 4rem;
    }
    .portfolio-container {
        grid-template-columns: 1fr;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }

}